.logo {
  height: 30px;
  margin-right: 3px;
}

.head-image {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 96px;
    margin-top: -66px;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }
}

.keynote-talk {
  border-left: 10px solid #e50000;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}

.author-talk {
  border-left: 10px solid #15b01a;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}

.activity {
  border-left: 10px solid #f5bf03;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}

.break {
  border-left: 10px solid #fff;
  background-color: #fff;
}
